.select-none {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.barrelroll {
    animation: barrelroll 2s linear;
}

@keyframes barrelroll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--webcolor);
    scroll-behavior: smooth;
    --home-lazyload: rgb(41, 112, 228);
    --home-image: url(../images/light_banner.jpg);
    --font-color: black;
    --nav-left-pos: 3%;
    --cboard-color: #fafafb;
    --nav-modeball: #4289f5;
    --webcolor: #eeeeee;
    --input-back: #eef5ff;

    --nav-bng: linear-gradient(39deg, #3232f5, #41b7fb, #85d2ff 94.2%, blue 1%);
    --nav-shadow: 0.02em 0.02em 0 rgba(100, 100, 255, 0.5), 0.05em 0.05em 0 rgba(70, 70, 70, 1);
    --nav-button: white;
    --nav-style: rgb(216, 215, 246);
}

body.dark {
    --home-lazyload: rgb(76, 1, 128);
    --home-image: url(../images/dark_banner.png);
    --cboard-color: #0c0b16;
    --nav-left-pos: 56%;
    --font-color: white;
    --nav-modeball: rgba(164, 4, 236, 0.82);
    --home-bng: linear-gradient(#18141c, #18141c);
    --webcolor: #070017;
    --input-back: #121212;

    --nav-shadow: 0.04em 0.04em 0 rgba(10, 10, 10, 1), 0.11em 0.11em 0 rgba(10, 10, 10, 1);
    --nav-bng: linear-gradient(39deg, rgb(29, 7, 64) 8.5%, rgb(253, 105, 139) 94.2%, black 1%);
    --nav-button: #060026;
    --nav-style: #5754af;
}
