#master {
    position: relative;
    top: clamp(1px, 35px, 7vw);
}

#main {
    width: auto;
    margin-top: clamp(1px, 191px, 38.2vw);
    display: flex;
    justify-content: center;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-left: 4%;
    padding-right: 4%;
}

.box_original {
    width: 100%;
    display: block;
}

.box_reversed {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (min-width: 960px) {
    #master {
        top: 0;
    }

    #main {
        margin-top: -58px;
    }

    #container {
        padding-left: 0;
        padding-right: 0;
    }

    .box_original {
        display: flex;
    }

    .box_reversed {
        display: flex;
        flex-direction: row;
    }
}
