#nav_style {
    height: clamp(30px, 28vw, 125px);
    width: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--font-color);
    background: var(--nav-bng);
}

#nav_logo_cont {
    height: 90%;
    position: relative;
    left: 2vw;
}

#nav_logo {
    height: 100%;
    width: auto;
}

#home_details {
    height: 100%;
    width: 92%;
    max-width: 300px;
    font-family: "Play", sans-serif;
    margin-left: 2%;
    color: var(--font-color);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3.8%;
}

#nav_cont {
    left: 5vw;
    height: 90%;
    width: 68vw;
    position: relative;
    transition: left 0.3s;
}

#nav_title {
    text-shadow: var(--nav-shadow);
    top: clamp(1px, 9px, 2.3vw);
    position: relative;
    user-select: none;
    font-size: clamp(1px, 38px, 7vw);
    font-family: "Montserrat Alternates", sans-serif;
    float: left;
    clear: left;
    white-space: nowrap;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#nav_title span {
    font-size: clamp(5px, 16px, 3vw);
    position: relative;
    bottom: 0.5vh;
    cursor: pointer;
}

#nav_navigation {
    height: 25%;
    position: relative;
    top: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(10px, 58vw, 310px);
    border-top: clamp(0.1vw, 0.5px, 0.1vw) solid;
    border-bottom: clamp(0.1vw, 0.5px, 0.1vw) solid;
    border-radius: 3px;
    float: left;
    clear: left;
    font-family: "Play", sans-serif;
}

#nav_navigation > * {
    height: 90%;
    width: 28%;
    display: grid;
    place-items: center;
    border-radius: clamp(1px, 10px, 2.2vw);
    font-size: clamp(1px, 14px, 3vw);
    color: white;
    text-decoration: none;
}

#sticky_bar {
    height: clamp(1px, 15vw, 58px);
    width: auto;
    background-color: rgba(14, 14, 14, 0.85);
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: white;
    font-family: "Teko", sans-serif;
    position: sticky;
    top: 0;
    box-shadow: 0 0 clamp(1px, 8px, 0.7vw) clamp(1px, 2px, 0.4vw) rgb(20, 20, 20);
    z-index: 3;
}

#text_place {
    position: relative;
    font-size: clamp(2px, 10vw, 40px);
    left: clamp(1vw, 5px, 2vw);
    display: inline-block;
    height: 100%;
    top: 8%;
}

#w_text_c p {
    position: relative;
    color: lime;
    left: clamp(1px, 5px, 0.5vw);
    font-size: clamp(1px, 6vw, 25px);
    font-family: "VT323", sans-serif;
}

#w_text_c > p > span {
    animation: visual 2.8s infinite;
    position: relative;
    right: -2px;
    font-weight: 900;
}

#w_text_c {
    width: 94vw;
    max-width: 1280px;
    height: clamp(1px, 12vw, 53px);
    display: flex;
    border-radius: 19px;
    align-items: center;
    box-shadow: 0 0 clamp(1px, 8px, 1.6vw) clamp(1px, 4px, 0.8vw) rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    top: clamp(1px, 3vw, 14px);
}

#display_show {
    height: clamp(1px, 440px, 91vw);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    background-image: var(--home-image);
    background-color: var(--home-lazyload);
    position: relative;
    bottom: clamp(1px, 15vw, 58px);
    padding-top: clamp(1px, 15vw, 58px);
    transition: background-image 0.3s;
}

#home_center_text {
    display: flex;
    width: auto;
    justify-content: center;
}

#display_show_c {
    height: 80%;
    position: absolute;
    bottom: 0px;
    width: 94%;
    justify-content: center;
    display: flex;
}

#mode_shifter_cont {
    height: 50%;
    width: clamp(1px, 24vw, 110px);
    position: relative;
    right: clamp(1px, 3vw, 25px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6%;
}

#mode_shifter_cont div {
    background-color: var(--nav-modeball);
}

#mode_switch {
    height: 71%;
    width: 40%;
    border: 0.4px solid rgb(220, 220, 220);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-right: 2px;
    cursor: pointer;
}

#mode_switch div {
    height: 89%;
    width: 46%;
    background-color: white;
    border-radius: 50px;
    position: relative;
    transition: left 0.16s;
    left: var(--nav-left-pos);
}

#tcb_hold {
    width: 92%;
    height: 47.5%;
    max-width: 960px;
    box-shadow: 0 0 clamp(1px, 4px, 0.8vw) clamp(1px, 4px, 0.8vw) rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: clamp(1px, 15px, 3vw);
}

#top_cont_board {
    border-radius: clamp(1px, 15px, 3vw);
    width: 88%;
    float: right;
    align-items: center;
    display: flex;
    background-color: var(--cboard-color);
    height: 73%;
}

#tcb_leftbox {
    position: relative;
    border-radius: clamp(1px, 15px, 3vw);
    right: clamp(1px, 9%, 90px);
    height: 60%;
    transition: width 0.3s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: clamp(1px, 3px, 0.5vw) solid rgb(140, 141, 226);
    overflow: hidden;
    text-shadow: clamp(1px, 1.5px, 0.25vw) clamp(1px, 1.5px, 0.25vw) black;
    background-color: #c89cec;
}

#tcb_status {
    position: absolute;
    bottom: -4.3px;
    right: 0;
    margin: 7%;
}

#tcb_statustext {
    position: absolute;
    margin-left: 7%;
    font-family: "VT323", sans-serif;
    width: 92%;
}

#tcb_contentbox {
    height: 100%;
    width: 70%;
}

#home_recent {
    height: 47.5%;
    width: 92%;
    border-radius: clamp(1px, 15px, 3vw);
    box-shadow: 0 0 clamp(1px, 4px, 0.8vw) clamp(1px, 4px, 0.8vw) rgba(0, 0, 0, 0.6);
    transition: border 800ms;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.recent_link {
    position: relative;
    bottom: 100%;
    height: 100%;
    width: 100%;
}

.recent_data {
    width: auto;
    height: 100%;
    left: 2%;
    position: relative;
}

.background_image_recent {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.recent_data_name {
    font-size: clamp(1px, 38px, 8vw);
    font-family: "Kode Mono", monospace;
    font-weight: bolder;
    text-wrap: nowrap;
    text-shadow: 0.04em 0.04em 0 rgba(22, 22, 22, 0.75), 0.11em 0.11em 0 rgba(22, 22, 22, 0.75);
}

.recent_description {
    height: 50%;
    line-height: clamp(1px, 21px, 5vw);
    margin: 3%;
    display: flex;
    font-size: clamp(1px, 18px, 3.8vw);
    font-family: "Play", sans-serif;
    font-weight: 600;
}

.recent_icon_cont_img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: height 200ms, width 200ms;
}

.recent_icon_cont_img:hover {
    height: 110%;
    width: 110%;
}

.fit_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.recent_description p {
    margin-top: 0;
}

.recent_data_date {
    font-family: "Play", sans-serif;
    margin-top: 11%;
    margin-left: 1%;
    text-shadow: 1.5px 1.5px rgb(22, 22, 22, 0.75);
    font-size: clamp(1px, 16px, 3.2vw);
}

.recent_icon_cont {
    display: flex;
    align-items: center;
    height: 39%;
    width: 100%;
    margin: 2.7%;
}

.image_fill {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
}

.image_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.recent_icon {
    height: 100%;
    transition: 0.3s;
    border-radius: clamp(1px, 10px, 2vw);
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_content_box {
    height: 140%;
    width: 100%;
    position: relative;
    top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

#text_place img {
    height: 60%;
    display: inline-block;
}

#text_place p {
    display: inline-block;
    margin: auto;
    top: 5%;
    transform: translateY(-5%);
}

#mode_shift_image {
    height: 130%;
    width: auto;
}

#nav_app_logo {
    height: 100%;
    width: auto;
}

#home_in2 {
    display: none;
    height: 28%;
    width: 100%;
}

#home_in1 {
    height: 25%;
    display: block;
    top: 74.5%;
    position: relative;
}

#home_icon {
    position: relative;
    top: 6%;
}

#home_in1 input,
#home_in2 input {
    height: 65%;
    width: 65.9%;
    border: 0.01px solid #344052;
    outline: none;
    border-top-left-radius: clamp(1px, 8px, 2vw);
    border-bottom-left-radius: clamp(1px, 8px, 2vw);
    font-family: "Play", sans-serif;
    background-color: var(--input-back);
    margin-left: 2%;
    padding-left: 10.5%;
    font-size: clamp(1px, 18px, 6vw);
    color: var(--font-color);
}

#home_in2 {
    position: relative;
    bottom: 13%;
}

#home_in1 input {
    margin-left: 3.7%;
}

#home_in1 input:focus ~ span,
#home_in2 input:focus ~ span,
#home_in1 input:valid ~ span,
#home_in2 input:valid ~ span {
    transform: translateY(-150%);
    background: linear-gradient(to right, rgb(83, 126, 244) 3.8%, rgb(158, 70, 206));
    border-radius: 2px;
    font-size: clamp(1px, 14px, 2.5vw);
    color: white;
    font-weight: 600;
}

#home_in1 input:focus,
#home_in2 input:focus,
#home_in1 input:valid,
#home_in2 input:valid {
    border-color: rgb(158, 70, 206);
}

#home_in1 span,
#home_in2 span {
    position: absolute;
    font-family: "Play", sans-serif;
    color: #344052;
    transition: 0.5s;
    margin-left: clamp(14%, 4.2vw, 90px);
    font-size: clamp(1px, 18px, 3vw);
    pointer-events: none;
    padding-bottom: 0.6%;
    user-select: none;
}

#home_in1 div,
#home_in2 div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#bash_icon_logo {
    height: 43%;
    width: 19.2%;
    pointer-events: none;
    position: absolute;
    color: var(--font-color);
}

#send_input {
    height: 68%;
    width: 13.7%;
    background: linear-gradient(to right, rgb(83, 126, 244) 3.8%, rgb(158, 70, 206));
    margin-left: 1px;
    border-top-right-radius: clamp(1px, 8px, 2vw);
    border-bottom-right-radius: clamp(1px, 8px, 2vw);
    border: 0.01px solid #344052;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send_input_icon {
    height: 100%;
    width: 100%;
    color: white;
}

#hd_title {
    font-size: clamp(1px, 32px, 5.2vw);
    font-family: sans-serif;
    margin: 0;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: clamp(1px, 1.7px, 0.2vw);
}

#hd_smalltext {
    margin: 0;
    color: #555c64;
    font-size: clamp(1px, 16px, 4vw);
}

#home_desc {
    margin: 0;
    font-size: clamp(1px, 14px, 3.5vw);
}

@keyframes visual {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spins {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media print {
    #mode_switch div,
    #top_cont-board,
    #sticky_bar,
    #tcb_hold,
    #mode_switch {
        border: 1px solid black;
    }
}

@media only screen and (min-width: 960px) {
    #home_in1 {
        display: none;
    }

    #home_details {
        height: 70%;
        padding-top: 1.2%;
    }

    #home_in2 {
        display: block;
        position: relative;
    }

    #home_content_box {
        height: 67%;
        column-gap: 20px;
    }

    /* home_recent */

    #tcb_hold {
        height: 101%;
        width: 76%;
    }

    #top_cont_board {
        height: 100%;
    }

    #home_in1 input,
    #home_in2 input {
        padding-left: 12.5%;
    }

    #home-in1 span,
    #home_in2 span {
        margin-left: clamp(15%, 5vw, 90px);
    }
}
